[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.20.0"
selenium = "==3.11.0"
certifi = "==2018.1.18"
chardet = "==3.0.4"
cssselect = "==1.0.3"
idna = "==2.6"
lxml = "==4.6.5"
pyquery = "==1.4.0"
"urllib3" = ">=1.23"

[dev-packages]

[requires]
python_version = "3.7"
